<!DOCTYPE html>
<html>
<head>
    <title>Sidebar</title>
    <script src="https://cdn.jsdelivr.net/npm/riot"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<sidebar>
  Bem-vindo
</sidebar>

<script>
</script>

</body>
</html>